// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color:red;
}
h1 {
    color:white;
    border: 1px solid yellow;
    padding: 30px 20px;
}
h2{
    
}
p {
    
}